<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="se.sanitarium.mobile.wp8-net-permissions"
        version="1.0.0">
    <name>WP8 Net permissions</name>
    <description>Test to see if WP8 net permissions are added to app from Cordova or not</description>
    <author href="http://sanitarium.se/">
        Björn Andersson
    </author>
    <content src="index.html" />
    <access origin="*" />

    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="android-minSdkVersion" value="8" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="show-splash-screen-spinner" value="false" />
    <feature name="debug-server" required="true">
      <param name="domain" value="http://weinre.mediapop.co"/>
      <param name="key" value="test"/>
    </feature>

    <gap:plugin name="org.apache.cordova.core.file" />
    <gap:plugin name="org.apache.cordova.core.file-transfer" />
    <gap:plugin name="org.apache.cordova.core.inappbrowser" />
    <gap:plugin name="org.apache.cordova.core.dialogs" />
</widget>
